.container  {
    width: 100%;
}

section {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #444;
}

.block {
    width: 75px;
    height: 75px;
    margin: 25px;
    border: 2px solid #333;
}

.active {
    background: orange;
}

.hide {
    display: none;
}
.clava {

    border: 1px solid black;
}

.cell {
    width: 25px;
    height: 25px;
    margin: 5px;
    border: 1px solid black;
}
